<h1> New Article! </h1>

<form action = "/articles" method = "POST">
  <label for = "title">Title: <input type = "text" name = "params[title]"></label><br>
  <label for = "content">Content: <textarea type = "text" name = "params[content]"></textarea></label><br>
  <input type = "submit" value = "submit">
</form>
